@(message: String)

<h1>--INDEX--</h1>

<!--------------------------------------------------------------------------------------------------------------------------File-->	
	<li>
		<a href='/file' > File </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------User-->
	<li>	
		<a href='/user' > User </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Comment-->
	<li>	
		<a href='/comment' > Comment </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Product-->
	<li>	
		<a href='/product' > Product </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------News-->
	<li>	
		<a href='/news' > News </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Post-->
	<li>	
		<a href='/post' > Post </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Help-->
	<li>	
		<a href='/help' > Help </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Shop-->
	<li>	
		<a href='/shop' > Shop </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Message-->
	<li>	
		<a href='/message' > Message </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------SnapShot-->
	<li>	
		<a href='/snapShot' > SnapShot </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Share-->
	<li>	
		<a href='/share' > Share </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Share-->
	<li>	
		<a href='/search' > Search </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------Wardrobe-->
	<li>	
		<a href='/wardrobe' > Wardrobe </a>
	</li>
<!--------------------------------------------------------------------------------------------------------------------------WholeSale-->
	<li>	
		<a href='/wholeSale' > WholeSale ( Will come maybe !!! ) </a>
	</li>






















------------------------------------------------------------------------------------------------------------------------------------------------------<a href='' > Top </a>

