<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Message -->
<h1>--------------------------------------------->>> Message >>></h1>


<h4> 	>>Create Message</h4>
<br/>	>>URL :POST	/message/create
<br/>	>>Required Parameter :
<br/>	>>Return value :Post information
<br/>	>>Description :
<br/>
Create Post :	
		<form method="POST" action="/message/create">
toUserID:	
			<input type="text" name="toUserID">
pictureID:
			<input type="text" name="pictureID"> 
audioID:
			<input type="text" name="audioID"> 
description:
			<input type="text" name="description"> 
			

productID: for shop send product
			<input type="text" name="productID"> 
			
			<input type="submit" value="Create" >
		</form>

	
getMy message
<h4> 	>>get my message</h4>
<br/>	>>URL :GET	/message/getMy
<br/>	>>Required Parameter :
<br/>	>>Return value :
<br/>	>>Description :
<br/>
get my message :	
		<form method="GET" action="/message/getMy">
start:		<input type="text" name="start">
end:		<input type="text" name="end">	
			<input type="submit" name="get" >
		</form>
		
		

getMy message send
<h4> 	>>get my message send</h4>
<br/>	>>URL :GET	/message/getMessageSend
<br/>	>>Required Parameter :
<br/>	>>Return value :
<br/>	>>Description :
<br/>
get my message send :	
		<form method="GET" action="/message/getMessageSend">
start:		<input type="text" name="start">
end:		<input type="text" name="end">	
			<input type="submit" name="get" >
		</form>
		
delete message
<h4> 	>>delete message</h4>
<br/>	>>URL :POST	/message/delete
<br/>	>>Required Parameter :
<br/>	>>Return value : information
<br/>	>>Description :
<br/>
delete message :	
		<form method="GET" action="/message/delete">
messageID:		<input type="text" name="id">
			<input type="submit" name="delete" >
		</form>
